<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel Administratora</title>
</head>
<body>
    <h1>Panel Administratora</h1>
    
    <a href="/hello">Close</a>

    <h2>Aktualni Użytkownicy</h2>
    <ul>
        <li th:each="user : ${users}">
            <span th:text="${user.username}"></span>
        </li>
    </ul>

    <h2>Add New User</h2>

    <form action="/addUser" method="post">
        <div>
            <label for="newUser">New User Name:</label>
            <input type="text" id="newUser" name="newUser" required>
        </div>
        <div>
            <label for="newUserPassword">New User Password:</label>
            <input type="password" id="newUserPassword" name="newUserPassword" required>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>

    <h2>Change Username</h2>

    <form action="/changeUsername" method="post">
        <div>
            <label for="oldUsername">Old Username:</label>
            <input type="text" id="oldUsername" name="oldUsername" required>
        </div>
        <div>
            <label for="newUsername">New Username:</label>
            <input type="text" id="newUsername" name="newUsername" required>
        </div>
        <div>
            <button type="submit">Change</button>
        </div>
    </form>

    <h2>Change Password</h2>

    <form action="/changePassword" method="post">
       
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="oldPassword">Current Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <button type="submit">Change Password</button>
        </div>
    </form>

    <h2>Delete User</h2>

    <form action="/deleteUser" method="post">
        <div>
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" required>
        </div>
        <div>
            <button type="submit">Delete</button>
        </div>
    </form>

</body>
</html>
